.formcard{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}